<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.launchpilot.metabase</string>
  <key>WorkingDirectory</key>
  <string>/Users/tjkade/Desktop/LaunchPilot/kits/metabase</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/opt/openjdk@21/bin/java</string>
    <string>-Xmx768m</string>
    <string>-Xms256m</string>
    <string>-jar</string>
    <string>/Users/tjkade/Desktop/LaunchPilot/kits/metabase/metabase.jar</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>MB_LOAD_SAMPLE_CONTENT</key>
    <string>false</string>
    <key>MB_ANON_TRACKING_ENABLED</key>
    <string>false</string>
    <key>MB_JETTY_PORT</key>
    <string>3000</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/tjkade/Desktop/LaunchPilot/kits/metabase/metabase.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/tjkade/Desktop/LaunchPilot/kits/metabase/metabase.err</string>
  <key>ThrottleInterval</key>
  <integer>10</integer>
</dict>
</plist>
